.navbar {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-dark .navbar-brand {
  /* color: #d6d5d5; */
  color: #f18736;
}

.bg-dark {
  background-color: #1e4857 !important;
}

.nav-img{
  width: 30px;
  height: 30px;
}

.search-bar {
  position: relative;
}

.search-bar .icon {
  cursor: pointer;
  position: absolute;
  top: 47%;
  right: 0;
  transform: translateY(-50%);
  padding: 13px 15px 13px 11px;
  color:#1e4857;
}

.form-control {
  background-color: #d0b4a9 !important;
  border-color: #ad9185;
}